.layout-cabecalho {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;

  background-color: #fff;
}

/*
.layout-cabecalho img {
  margin-top: 12px;
}
*/

.layout-cabecalho--home{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.layout-planos {
  padding: 80px 0;
}

.layout-chamada {
  padding: 80px 0;
  margin-top: 60px;

  background-color: #7ab55c;
}

.layout-depoimento{
	padding: 80px 0;

	background-color: #e7e7e7;
}

.layout-rodape {
	padding: 40px 0;

	background-color: #484848;
	
	color: #fff;
	text-align: center;	
}

@media(max-width: 749px) {
  .layout-planos .row > div:not(.ultima-coluna) {
    margin-bottom: 40px;
  }
}

.layout-assinatura {
  padding: 40px 0;
}

/*--------------------*\
  TITULO-FORMULARIO
\*--------------------*/
.titulo-formulario {
  margin: 0;
  margin-bottom: 40px;
  
  border-bottom: 1px solid #ccc;

  font-size: 2.6rem;
  font-weight: normal;
  color: #004b86;
}



/*--------------------*\
  GRUPO-ENTRADA
\*--------------------*/
.grupo-entrada {
  margin-bottom: 15px;
}

.grupo-entrada > label {
  display: block;

  font-weight: bold;
}



/*--------------------*\
  CAMPO
\*--------------------*/
.campo {
  display: block;
  width: 100%;
  height: 2.8em;

  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  background-color: #fff;
  font-size: 1.4rem;
}